body {
	background-color: #2F4F4F;
	color: white;
}

#title {
	font-family: 'Damion', cursive;
	font-size: 150%;
	text-shadow: 3px 3px 0px #2c3e50;
}

#mainPanel {
	color: black;
}

#pad {
	padding: 2%;
}

#panelHead {
	font-weight: bold;
}

.menu {
	top: 0;
	left: 0; 
	position : fixed;
	height: 100%;
	width: 5%;
	min-width: 65px;
	background: #F5FFFA;
	transition: width 1s;
	overflow: hidden;
	font-family: 'Michroma', sans-serif;
	z-index: 99;
	border-right: 1px solid #8B0000;
	position: fixed;
}

.menu:hover {
	width: 250px;
	border-right: 1px solid #8B0000;
}

.menuItem .span {
	position: absolute;
	left: 80px;
	top: 20px;
	transition: color 1s;
	color: rgba(255, 255, 255, 0);
}

.menuItem .span a {
	text-decoration: none;
}

.menu:hover .menuItem  .span {
	color: #2F4F4F;;
}

.menuItem {
	position: relative;
	padding: 20px;
	transition: border .5s, background .2s;
	color: #2F4F4F;
}

.menuItem:hover {
	background: #F5FFFA;
	cursor: pointer;
}

.itemOne {
	border-left: 5px solid #2F4F4F;
}

.itemOne:hover {
	border-left: 20px solid #2F4F4F;
}

.itemTwo {
	border-left: 5px solid #008080;
}

.itemTwo:hover {
	border-left: 20px solid #008080;
}

.itemThree {
	border-left: 5px solid #20B2AA;
}

.itemThree:hover {
	border-left: 20px solid #20B2AA;
}

.itemFour {
	border-left: 5px solid #00CED1;
}

.itemFour:hover {
	border-left: 20px solid #00CED1;
}

.itemFive {
	border-left: 5px solid #AFEEEE;
}

.itemFive:hover {
	border-left: 20px solid #AFEEEE;
}

.pad {
	margin-top: 3.5%;
	margin-left: 55px;
}

.pad-table {
	margin-top: 1.4%;
}

#bloks {
	margin-top: 5px;
	margin-bottom: 5px;
}

#buttonsFormat {
	width: 100%;
}