html {
  height: 100%;
}
body {
	background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
	color: #2F4F4F;
}

#title {
	color: #2F4F4F;
	font-family: 'Damion', cursive;
	font-size: 20em;
	text-shadow: 3px 3px 0px #2c3e50;
}

#mainPanel {
	color: black;
}
#pad {
	padding: 2%;
}

#panelHead {
	font-weight: bold;
}

.menu {
	top: 0;
	left: 0; 
	position : fixed;
	height: 100%;
	width: 5%;
	min-width: 65px;
	background: #F5F5F5;
	transition: width 1s;
	overflow: hidden;
	font-family: 'Michroma', sans-serif;
	z-index: 99;
	border-right: 1px solid black;
	position: fixed;
}

.menu:hover {
	width: 250px;
	border-right: 1px solid black;
}

.menuItem .span {
	position: absolute;
	left: 80px;
	top: 20px;
	transition: color 1s;
	color: rgba(255, 255, 255, 0);
}

.menuItem .span a {
	text-decoration: none;
}

.menu:hover .menuItem  .span {
	color: #2F4F4F;;
}

.menuItem {
	position: relative;
	padding: 20px;
	transition: border .5s, background .2s;
	color: #2F4F4F;
}

.menuItem:hover {
	background: #F5F5F5;
	cursor: pointer;
}

.itemOne {
	border-left: 5px solid #2F4F4F;
}

.itemOne:hover {
	border-left: 20px solid #2F4F4F;
}

.itemTwo {
	border-left: 5px solid #008080;
}

.itemTwo:hover {
	border-left: 20px solid #008080;
}

.itemThree {
	border-left: 5px solid #20B2AA;
}

.itemThree:hover {
	border-left: 20px solid #20B2AA;
}

.itemFour {
	border-left: 5px solid #00CED1;
}

.itemFour:hover {
	border-left: 20px solid #00CED1;
}

.itemFive {
	border-left: 5px solid #AFEEEE;
}

.itemFive:hover {
	border-left: 20px solid #AFEEEE;
}

.pad {
	margin-top: 3.5%;
	margin-left: 55px;
}

.pad-table {
	margin-top: 1.4%;
}

#bloks {
	margin-top: 5px;
	margin-bottom: 5px;
}

.social-container {
	margin-top: 10%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 400px;
	border: 1px solid white;
}

#buttonsFormat {
	width: 100%;
}

#graph-container {
	margin-top: 3%;
}
#myChart {
	width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
	width: 33.3%;
	height: 33.3%;
}

.navbar-brand {
	padding: 0;
}

.sk-cube-grid {
	margin: 15% auto;
  	z-index: 999;
  	width: 200px;
  	height: 200px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
