<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    	<title>Exchange Rates</title>

    	<!-- Bootstrap -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
	
		<link href="css/style.css" rel="stylesheet">

		<script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
  	</head>
 	<body>
  		<!-- MENU -->
		<div class="menu">
			<div class="menuItem itemOne">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="span">Home</span>
			</div>
			<div class="menuItem itemTwo">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="span">Settings</span>
			</div>
			<div class="menuItem itemThree">
				<span class="glyphicon glyphicon-signal" aria-hidden="true"></span><span class="span" onClick="location.href='graphs.html'">Graphs</span>
			</div>
			<div class="menuItem itemFour">
				<span class="glyphicon glyphicon-font" aria-hidden="true"></span><span class="span">About</span>
			</div>
			<div class="menuItem itemFive">
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span class="span">Contact me</span>
			</div>
		</div>
		<!-- end -->
		
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4" style="border-right:1px solid;">
					<div class="pad">
						<div class="col-lg-12" id="bloks">
							<button type="button" class="btn btn-primary btn-block nbu" id="buttonsFormat" data-loading-text="Loading...">Rates In National Bank Of Ukraine</button>
							<button type="button" class="btn btn-primary btn-block pb" id="buttonsFormat" data-loading-text="Loading...">Rates In Private Bank</button>
						</div>
						
						<div class="col-lg-12"><hr></div>
						<div class="col-lg-12">
						<form id="typeForm">
							<label class="radio-inline">
							  	<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="single">Single Date
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="diapason">Date from diapason
							</label>
							</form>
						</div>
						
						<div class="col-lg-12"><hr></div>
						
						<div class="col-lg-12" id="bloks">
							<form name="oneDateForm" id="oneDate">
								<div class="form-group">
									<label for="specificDate">Choose Date</label>
									<input type="date" class="form-control sDate" name="specificDate">
								</div>
							</form>
						</div>
						
						<div class="col-lg-12"><hr></div>
						
						<div class="col-lg-12" id="bloks">
							<form name="diapasonDatesForm">
								<div class="form-group">
									<label for="startDate">Start Date</label>
									<input type="date" class="form-control dDate" id="buttonsFormat" name="startDate">
								</div>
								<div class="form-group">
									<label for="endDate">End Date</label>
									<input type="date" class="form-control dDate" id="buttonsFormat" name="endDate">
								</div>
								<!-- <div class="form-group">
									<label for="method">Method</label>
									<select class="form-control dDate" id="buttonsFormat" name="method">
										<option></option>
										<option>By Days</option>
										<option>By Month</option>
										<option>By Year</option>
									</select>
								</div> -->
							</form>
						</div>
						
						<div class="col-lg-12"><hr></div>
						
					</div>
				</div>
				<div class="col-lg-8 pad-table" id="tableContainer">
					<div class="col-lg-12" id="table1"></div>
					<div class="col-lg-12" id="table2"></div>
						<script id="templateRootTable" type="text/template">
						<div class="panel panel-default" id="mainPanel">
  							<div class="panel-heading" id="panelHead">
								<%var a;
						 			if (data[0].bank === "NBU") {
										a = 'National Bank Of Ukraine(NBU)';
									}else if(data[0].bank === "PrivatBank") {
										a = 'PrivatBank(PB)';
									}
								%>
								<%= a %>
							</div>
    							<table class="table table-bordered" style="width: 100%;">
    								<thead class="thead-inverse">
        								<tr>
          									<th>Currency</th>
											<th>Date</th>
											<th>Buy</th>
											<th>Sale</th>
        								</tr>
      								</thead>
      								<tbody>
       				 					<% data.forEach(function(item) { %>
          								<tr>
            								<td><%= item.rate %></td>
            								<td><%= item.date %></td>
											<td><%= item.buy %></td>
											<td><%= item.sale %></td>
          								</tr>
        								<% }); %>
      								</tbody>
    							</table>
							</div>
  					</script>
				</div>
				</div>
			</div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
  	</body>
</html>