<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>erates</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Pb</display-name>
    <servlet-name>Pb</servlet-name>
    <servlet-class>org.flush.erates.controllers.Pb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pb</servlet-name>
    <url-pattern>/pb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nbu</display-name>
    <servlet-name>Nbu</servlet-name>
    <servlet-class>org.flush.erates.controllers.Nbu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nbu</servlet-name>
    <url-pattern>/nbu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBanks</display-name>
    <servlet-name>AllBanks</servlet-name>
    <servlet-class>org.flush.erates.controllers.AllBanks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBanks</servlet-name>
    <url-pattern>/banks</url-pattern>
  </servlet-mapping>
</web-app>